-- MySQL dump 10.13  Distrib 8.0.41, for Win64 (x86_64)
--
-- Host: localhost    Database: positive_distribution
-- ------------------------------------------------------
-- Server version	8.0.41

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `afrocaisse_mouvements`
--

DROP TABLE IF EXISTS `afrocaisse_mouvements`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `afrocaisse_mouvements` (
  `id` int NOT NULL AUTO_INCREMENT,
  `date_mouvement` date NOT NULL,
  `type_mouvement` enum('entree','sortie') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `montant` decimal(15,0) NOT NULL,
  `solde` decimal(15,0) NOT NULL DEFAULT '0',
  `description` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `depense_id` int DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `afrocaisse_mouvements`
--

LOCK TABLES `afrocaisse_mouvements` WRITE;
/*!40000 ALTER TABLE `afrocaisse_mouvements` DISABLE KEYS */;
INSERT INTO `afrocaisse_mouvements` VALUES (1,'2026-07-07','entree',300000,300000,'Alimentation Afrocaisse',NULL,'2026-07-08 10:55:50'),(2,'2026-07-07','sortie',20000,280000,'Autre ÔÇö MD Abdoulaye',1,'2026-07-08 10:56:59'),(3,'2026-07-07','sortie',4500,275500,'Autre ÔÇö Moi',2,'2026-07-08 10:57:44');
/*!40000 ALTER TABLE `afrocaisse_mouvements` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `banque_mouvements`
--

DROP TABLE IF EXISTS `banque_mouvements`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `banque_mouvements` (
  `id` int NOT NULL AUTO_INCREMENT,
  `date_mouvement` date NOT NULL,
  `description` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `reference` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `encaissement` decimal(15,0) NOT NULL DEFAULT '0',
  `decaissement` decimal(15,0) NOT NULL DEFAULT '0',
  `solde` decimal(15,0) NOT NULL DEFAULT '0',
  `commentaires` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `fichier_bordereau` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `categorie` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT 'autre',
  `reference_id` int DEFAULT NULL,
  `reference_type` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `banque_mouvements`
--

LOCK TABLES `banque_mouvements` WRITE;
/*!40000 ALTER TABLE `banque_mouvements` DISABLE KEYS */;
/*!40000 ALTER TABLE `banque_mouvements` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `categories_clients`
--

DROP TABLE IF EXISTS `categories_clients`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `categories_clients` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nom` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `prix_unitaire` decimal(10,0) NOT NULL,
  `description` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `actif` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `categories_clients`
--

LOCK TABLES `categories_clients` WRITE;
/*!40000 ALTER TABLE `categories_clients` DISABLE KEYS */;
INSERT INTO `categories_clients` VALUES (1,'Revendeur Principal',31500,'Revendeurs principaux zone NDjamena',1,'2026-07-08 09:32:28'),(2,'Revendeur Strategique',31000,'Ali Chari Labane - prix special',1,'2026-07-08 09:32:28'),(3,'Depot Vente Directe',32000,'Gestionnaires ventes directes',1,'2026-07-08 09:32:28'),(4,'Autre Revendeur',32500,'Revendeurs autres regions provinces',1,'2026-07-08 09:32:28'),(5,'Patisserie Conso',33000,'Patisseries et consommateurs directs',1,'2026-07-08 09:32:28'),(6,'Revendeur Pro',32333,NULL,1,'2026-07-08 09:35:07');
/*!40000 ALTER TABLE `categories_clients` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `clients`
--

DROP TABLE IF EXISTS `clients`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `clients` (
  `id` int NOT NULL AUTO_INCREMENT,
  `code` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `nom` varchar(150) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `telephone` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `zone` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `adresse` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `categorie` enum('revendeur_principal','autre_revendeur','revendeur_strategique','patisserie_conso') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'autre_revendeur',
  `categorie_id` int DEFAULT NULL,
  `statut` enum('actif','inactif','archive') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'actif',
  `solde_global` decimal(15,0) NOT NULL DEFAULT '0',
  `solde_avance` decimal(15,0) NOT NULL DEFAULT '0',
  `observation` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `code` (`code`),
  KEY `categorie_id` (`categorie_id`),
  CONSTRAINT `clients_ibfk_1` FOREIGN KEY (`categorie_id`) REFERENCES `categories_clients` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `clients`
--

LOCK TABLES `clients` WRITE;
/*!40000 ALTER TABLE `clients` DISABLE KEYS */;
/*!40000 ALTER TABLE `clients` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `depenses`
--

DROP TABLE IF EXISTS `depenses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `depenses` (
  `id` int NOT NULL AUTO_INCREMENT,
  `type_depense` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `montant` decimal(15,0) NOT NULL,
  `date_depense` date NOT NULL,
  `beneficiaire` varchar(150) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `description` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `depenses`
--

LOCK TABLES `depenses` WRITE;
/*!40000 ALTER TABLE `depenses` DISABLE KEYS */;
INSERT INTO `depenses` VALUES (1,'Autre',20000,'2026-07-07','MD Abdoulaye','Achat de cordess','2026-07-08 10:56:59'),(2,'Autre',4500,'2026-07-07','Moi','Dette anterieur ','2026-07-08 10:57:44');
/*!40000 ALTER TABLE `depenses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `factures_fournisseur`
--

DROP TABLE IF EXISTS `factures_fournisseur`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `factures_fournisseur` (
  `id` int NOT NULL AUTO_INCREMENT,
  `numero` varchar(30) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `fournisseur_id` int NOT NULL,
  `date_facture` date NOT NULL,
  `quantite` int NOT NULL,
  `prix_unitaire` decimal(10,0) NOT NULL,
  `total` decimal(15,0) NOT NULL,
  `paiement` decimal(15,0) NOT NULL DEFAULT '0',
  `solde` decimal(15,0) NOT NULL DEFAULT '0',
  `date_echeance` date DEFAULT NULL,
  `observations` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `fichier_facture` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `livraison_id` int DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `numero` (`numero`),
  KEY `fournisseur_id` (`fournisseur_id`),
  KEY `livraison_id` (`livraison_id`),
  CONSTRAINT `factures_fournisseur_ibfk_1` FOREIGN KEY (`fournisseur_id`) REFERENCES `fournisseurs` (`id`),
  CONSTRAINT `factures_fournisseur_ibfk_2` FOREIGN KEY (`livraison_id`) REFERENCES `livraisons` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `factures_fournisseur`
--

LOCK TABLES `factures_fournisseur` WRITE;
/*!40000 ALTER TABLE `factures_fournisseur` DISABLE KEYS */;
/*!40000 ALTER TABLE `factures_fournisseur` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fournisseurs`
--

DROP TABLE IF EXISTS `fournisseurs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fournisseurs` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nom` varchar(150) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `telephone` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `adresse` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `statut` enum('actif','inactif') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'actif',
  `observation` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `solde_compte` decimal(15,0) NOT NULL DEFAULT '0',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fournisseurs`
--

LOCK TABLES `fournisseurs` WRITE;
/*!40000 ALTER TABLE `fournisseurs` DISABLE KEYS */;
INSERT INTO `fournisseurs` VALUES (1,'Fournisseur Cameroun CC',NULL,NULL,'actif',NULL,2365000,'2026-07-08 09:32:28'),(2,'Fournisseur Tchad CT',NULL,NULL,'actif',NULL,1318000,'2026-07-08 09:32:28');
/*!40000 ALTER TABLE `fournisseurs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `journal_activite`
--

DROP TABLE IF EXISTS `journal_activite`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `journal_activite` (
  `id` int NOT NULL AUTO_INCREMENT,
  `date_action` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `utilisateur_id` int NOT NULL,
  `utilisateur_nom` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `action` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `module` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=105 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `journal_activite`
--

LOCK TABLES `journal_activite` WRITE;
/*!40000 ALTER TABLE `journal_activite` DISABLE KEYS */;
/*!40000 ALTER TABLE `journal_activite` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `livraisons`
--

DROP TABLE IF EXISTS `livraisons`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `livraisons` (
  `id` int NOT NULL AUTO_INCREMENT,
  `date_livraison` date NOT NULL,
  `quantite_cartons` int NOT NULL,
  `fournisseur_id` int DEFAULT NULL,
  `fournisseur` varchar(150) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `notes` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `fichier_facture` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `fournisseur_id` (`fournisseur_id`),
  CONSTRAINT `livraisons_ibfk_1` FOREIGN KEY (`fournisseur_id`) REFERENCES `fournisseurs` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `livraisons`
--

LOCK TABLES `livraisons` WRITE;
/*!40000 ALTER TABLE `livraisons` DISABLE KEYS */;
/*!40000 ALTER TABLE `livraisons` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `paiements_fournisseur`
--

DROP TABLE IF EXISTS `paiements_fournisseur`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `paiements_fournisseur` (
  `id` int NOT NULL AUTO_INCREMENT,
  `facture_id` int NOT NULL,
  `date_paiement` date NOT NULL,
  `montant` decimal(15,0) NOT NULL,
  `mode` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `observation` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `banque_mvt_id` int DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `facture_id` (`facture_id`),
  CONSTRAINT `paiements_fournisseur_ibfk_1` FOREIGN KEY (`facture_id`) REFERENCES `factures_fournisseur` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `paiements_fournisseur`
--

LOCK TABLES `paiements_fournisseur` WRITE;
/*!40000 ALTER TABLE `paiements_fournisseur` DISABLE KEYS */;
/*!40000 ALTER TABLE `paiements_fournisseur` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `parametres`
--

DROP TABLE IF EXISTS `parametres`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `parametres` (
  `cle` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `valeur` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`cle`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `parametres`
--

LOCK TABLES `parametres` WRITE;
/*!40000 ALTER TABLE `parametres` DISABLE KEYS */;
INSERT INTO `parametres` VALUES ('afrocaisse_initial','0'),('solde_banque_initial','1066526'),('solde_banque_initial_date','2026-07-01');
/*!40000 ALTER TABLE `parametres` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pertes`
--

DROP TABLE IF EXISTS `pertes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pertes` (
  `id` int NOT NULL AUTO_INCREMENT,
  `date_perte` date NOT NULL,
  `type_perte` enum('casse','perte','manquant','abime') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'casse',
  `quantite_oeufs` int NOT NULL,
  `cause` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pertes`
--

LOCK TABLES `pertes` WRITE;
/*!40000 ALTER TABLE `pertes` DISABLE KEYS */;
/*!40000 ALTER TABLE `pertes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `prix_achat`
--

DROP TABLE IF EXISTS `prix_achat`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `prix_achat` (
  `id` int NOT NULL AUTO_INCREMENT,
  `fournisseur_id` int NOT NULL,
  `date_effet` date NOT NULL,
  `prix_unitaire` decimal(10,0) NOT NULL,
  `actif` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `fournisseur_id` (`fournisseur_id`),
  CONSTRAINT `prix_achat_ibfk_1` FOREIGN KEY (`fournisseur_id`) REFERENCES `fournisseurs` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `prix_achat`
--

LOCK TABLES `prix_achat` WRITE;
/*!40000 ALTER TABLE `prix_achat` DISABLE KEYS */;
INSERT INTO `prix_achat` VALUES (1,1,'2026-07-01',30000,1,'2026-07-08 09:32:28'),(2,2,'2026-07-01',29500,1,'2026-07-08 09:32:28');
/*!40000 ALTER TABLE `prix_achat` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `prix_carton`
--

DROP TABLE IF EXISTS `prix_carton`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `prix_carton` (
  `id` int NOT NULL AUTO_INCREMENT,
  `date_effet` date NOT NULL,
  `categorie` enum('revendeur_principal','revendeur_strategique','autre_revendeur','patisserie_conso') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `prix_unitaire` decimal(10,0) NOT NULL,
  `actif` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `prix_carton`
--

LOCK TABLES `prix_carton` WRITE;
/*!40000 ALTER TABLE `prix_carton` DISABLE KEYS */;
INSERT INTO `prix_carton` VALUES (1,'2026-07-01','revendeur_principal',31500,1,'2026-07-08 09:32:28'),(2,'2026-07-01','revendeur_strategique',31000,1,'2026-07-08 09:32:28'),(3,'2026-07-01','autre_revendeur',32500,1,'2026-07-08 09:32:28'),(4,'2026-07-01','patisserie_conso',33000,1,'2026-07-08 09:32:28');
/*!40000 ALTER TABLE `prix_carton` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `recouvrements`
--

DROP TABLE IF EXISTS `recouvrements`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `recouvrements` (
  `id` int NOT NULL AUTO_INCREMENT,
  `client_id` int NOT NULL,
  `date_paiement` date NOT NULL,
  `montant_recu` decimal(15,0) NOT NULL,
  `montant_restant` decimal(15,0) NOT NULL DEFAULT '0',
  `avance_creee` decimal(15,0) NOT NULL DEFAULT '0',
  `date_suivi` date DEFAULT NULL,
  `observation` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `client_id` (`client_id`),
  CONSTRAINT `recouvrements_ibfk_1` FOREIGN KEY (`client_id`) REFERENCES `clients` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=35 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `recouvrements`
--

LOCK TABLES `recouvrements` WRITE;
/*!40000 ALTER TABLE `recouvrements` DISABLE KEYS */;
/*!40000 ALTER TABLE `recouvrements` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `stock_actuel`
--

DROP TABLE IF EXISTS `stock_actuel`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `stock_actuel` (
  `id` int NOT NULL DEFAULT '1',
  `cartons` decimal(10,1) NOT NULL DEFAULT '0.0',
  `plateaux` int NOT NULL DEFAULT '0',
  `oeufs` int NOT NULL DEFAULT '0',
  `cartons_cc` decimal(10,1) NOT NULL DEFAULT '0.0',
  `cartons_ct` decimal(10,1) NOT NULL DEFAULT '0.0',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `stock_actuel`
--

LOCK TABLES `stock_actuel` WRITE;
/*!40000 ALTER TABLE `stock_actuel` DISABLE KEYS */;
INSERT INTO `stock_actuel` VALUES (1,38.0,0,0,13.0,0.0);
/*!40000 ALTER TABLE `stock_actuel` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `stock_mouvements`
--

DROP TABLE IF EXISTS `stock_mouvements`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `stock_mouvements` (
  `id` int NOT NULL AUTO_INCREMENT,
  `date_mouvement` date NOT NULL,
  `type_mouvement` enum('entree','sortie','perte','ajustement') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `cartons` decimal(10,1) NOT NULL DEFAULT '0.0',
  `plateaux` int NOT NULL DEFAULT '0',
  `oeufs` int NOT NULL DEFAULT '0',
  `motif` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `reference_id` int DEFAULT NULL,
  `reference_type` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `cartons_cc` decimal(10,1) NOT NULL DEFAULT '0.0',
  `cartons_ct` decimal(10,1) NOT NULL DEFAULT '0.0',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=33 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `stock_mouvements`
--

LOCK TABLES `stock_mouvements` WRITE;
/*!40000 ALTER TABLE `stock_mouvements` DISABLE KEYS */;
/*!40000 ALTER TABLE `stock_mouvements` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `utilisateurs`
--

DROP TABLE IF EXISTS `utilisateurs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `utilisateurs` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nom` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(150) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `mot_de_passe` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `role` enum('Admin','Commercial') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'Commercial',
  `statut` enum('actif','inactif') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'actif',
  `dernier_acces` datetime DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `utilisateurs`
--

LOCK TABLES `utilisateurs` WRITE;
/*!40000 ALTER TABLE `utilisateurs` DISABLE KEYS */;
/*!40000 ALTER TABLE `utilisateurs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ventes`
--

DROP TABLE IF EXISTS `ventes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ventes` (
  `id` int NOT NULL AUTO_INCREMENT,
  `date_vente` date NOT NULL,
  `numero` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `client_id` int NOT NULL,
  `quantite` decimal(10,1) NOT NULL,
  `prix_unitaire` decimal(10,0) NOT NULL,
  `total` decimal(15,0) NOT NULL,
  `paiement` decimal(15,0) NOT NULL DEFAULT '0',
  `solde` decimal(15,0) NOT NULL DEFAULT '0',
  `observations` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `type_carton` enum('CC','CT','mixte') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'CC',
  PRIMARY KEY (`id`),
  UNIQUE KEY `numero` (`numero`),
  KEY `client_id` (`client_id`),
  CONSTRAINT `ventes_ibfk_1` FOREIGN KEY (`client_id`) REFERENCES `clients` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=23 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ventes`
--

LOCK TABLES `ventes` WRITE;
/*!40000 ALTER TABLE `ventes` DISABLE KEYS */;
/*!40000 ALTER TABLE `ventes` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-07-10 15:11:17
